html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.checkboxLogin {
    margin-top: 3px;
}
body[data-bs-theme="dark"] *:not(.modal) {
    background-color: #1e1e1e;
    color: white;
}
body[data-bs-theme="dark"] .form-label {
    color: white;
    background-color: transparent;
}
body[data-bs-theme="dark"] .navbar, body[data-bs-theme="dark"] .navbar * {
    background-color: #525151;
}
body[data-bs-theme="dark"] {
    background-color: #1e1e1e;
    color: white;
}
body[data-bs-theme="dark"] .btn-success{
    background-color: #198754;
}
body[data-bs-theme="dark"] .btn-danger{
    background-color: #dc3545;
}
body[data-bs-theme="dark"] .btn-info{
    background-color: #0dcaf0;
}
body[data-bs-theme="dark"] .btn-primary{
    background-color: #0d6efd;
}

body[data-bs-theme="dark"] .modal * {
    background-color: #525151;
}
body[data-bs-theme="dark"] input:-webkit-autofill,
body[data-bs-theme="dark"] textarea:-webkit-autofill,
body[data-bs-theme="dark"] select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #424242 inset !important;
    -webkit-text-fill-color: white !important;
}

body[data-bs-theme="dark"] .form-check-input {
    border: 1px solid white;
}
@media (max-width: 600px) {
    #greetings {
        display: none !important;
    }
}